/* Estilos de ambas páginas Index y Products */

/* * {
    font-family: 'Spicy Crackers', sans-serif;
} */

html{
    width: 100%; 
    height: 100%; 
    background: white;
    scroll-behavior: smooth; 
}

.LOGO{
    text-align: center; 
    color: black; 
    font-size: 32px; 
    /* font-family: Spicy Crackers;  */
    font-weight: 400; 
    word-wrap: break-word;
}

/* .LOGO .image{
    height: 20%;
    width: 20%;
    position: relative;
    top: 0px;
    left: 0%;
} */

body{
    width: 100%;
}
.cabecera{
    width: 100%;
    justify-content: space-around; 
    align-items: center; 
    display: inline-flex;
    font-family: Spicy Crackers;                        
}

.menu{
    justify-content: center; 
    align-items: center; 
    gap: 32px; 
    display: flex;
}

nav div{
    text-align: center; 
    color: black; 
    font-size: 24px; 
    font-family: Spicy Crackers; 
    font-weight: 400; 
    word-wrap: break-word;
}


.icon_menu{
    display: none;
}

a{
    list-style: none;
    text-decoration: none;
    color: #1E1E1E;
}

/* Estilos de la primera página Index */

.container{
    width: 1097.50px; 
    height: 491px; 
    left: 80px; 
    top: 135px; 
    position: absolute;
}

.bloque{
    width: 340px; 
    height: 400px; 
    left: 620px; 
    top: 20px; 
    position: absolute; 
    background: #505050; 
    border-radius: 8px;
}

.bloque .image{
    height: 20pc;
    width: 20pc;
    position: absolute;
    top: 50px;
    left: 0%;
}

.Texto{
    width: 979px; 
    height: 93px; 
    left: 10px; 
    top: 44px; 
    position: absolute; 
    text-align: center;
}

.Texto span{ 
    font-size: 90px; 
    font-family: Inter; 
    font-weight: 400; 
    letter-spacing: 0.90px; 
    word-wrap: break-word;  
}

.TextoAlt{
    width: 342px; 
    height: 130px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    text-align: center;
    display: none;
}

.TextoAlt span{
    font-size: 24px; 
    font-family: Inter; 
    font-weight: 700; 
    letter-spacing: 23.28px; 
    word-wrap: break-word;
}

.Container2{
    height: 320px; 
    left: 120px; 
    top: 400px; 
    position: absolute; 
    justify-content: space-around; 
    align-items: center; 
    gap: 5px; 
    display: inline-flex;
}

.Texto2{
    color: #1E1E1E; 
    font-size: 32px; 
    /* font-family: Poppins;  */
    font-weight: 600; 
    word-wrap: break-word;
}

.Texto2Alt{
    display: none;
}



/* Estilo página Product */

.containerboxes{
    left: 110px; 
    top: 168px; 
    position: absolute; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 30px; 
    display: inline-flex;
    flex-flow: row wrap;
}

.boxes{
    width: 278px; 
    height: 376px; 
    position: relative;
}

.boxesA{
    width: 276px; 
    height: 330px; 
    left: 2px; 
    top: 0px; 
    position: absolute; 
    background: #505050; 
    border-radius: 8px;
}

.image {
    height: 13pc;
    width: 13pc;
    position: absolute;
    top: 40px;
    left: 16%;
}

.boxesA:hover .image {
    width: 16pc;
    height: 16pc;
    top: -9px;
    left: 8%;
    transition: ease 1s;
  }

.tagbox{
    width: 256px; 
    height: 73px; 
    left: 12px; 
    top: 248px; 
    position: absolute; 
    background: white; 
    border-radius: 8px;
}

.product{
    left: 18px; 
    top: 261px; 
    position: absolute; 
    color: black; 
    font-size: 18px; 
    font-family: queenbear; 
    font-weight: 700; 
    word-wrap: break-word;
}

.price{
    left: 200px; 
    top: 260px; 
    position: absolute; 
    color: black; 
    font-size: 32px; 
    font-family: blooshooz; 
    font-weight: 400; 
    word-wrap: break-word;
}

.subproduct{
    left: 18px; 
    top: 290px; 
    position: absolute; 
    color: black; 
    font-size: 18px; 
    font-family: poppins; 
    font-weight: 300; 
    word-wrap: break-word;
}

@media screen and (max-width: 767px){
    .icon_menu{
        display:flex;
    }
    .icon_shopping_cart{
        display: none;
    }
    .cabecera{
        width: 343px; 
        left: 70px; 
        top: 11px; 
        position: absolute; 
        justify-content: flex-start; 
        align-items: flex-end; 
        gap: 257.63px; 
        display: inline-flex;
    }
    .menu{
        display: none;
    }
    .LOGO{
        text-align: center; 
        color: black; 
        font-size: 24px; 
        /* font-family: Inter;  */
        font-weight: 400; 
        word-wrap: break-word;
    }
    .linea{
        width: 342px; 
        height: 0px; 
        left: 0px; 
        top: 52px; 
        position: absolute; 
        border: 1px #B9B9B9 solid;
    }
    .bloque{
        width: 246px; 
        height: 300px; 
        left: 0px; 
        top: 0px; 
        position: absolute; 
        background: #505050; 
        border-radius: 8px
    }

    .bloque .image{
        height: 15pc;
        width: 15pc;
        position: absolute;
        top: 50px;
        left: 0%;
    }

    .Texto{
        display: none;
    }
    .Texto2{
        display: none;
    }
    .TextoAlt{
        display:flex;
    }
    .Texto2Alt{
        color: #1E1E1E; 
        font-size: 25px; 
        /* font-family: Poppins;  */
        font-weight: 600; 
        word-wrap: break-word;
        display: flex;
    }
    .Container2{
        height: 320px; 
        left: 80px; 
        top: 350px; 
        position: absolute; 
        justify-content: space-around; 
        align-items: center; 
        gap: 5px; 
        display: inline-flex;
    }
}